@use "../../abstract/vars";
@use "../../base/base";
@use "sass:map";

.grid {
    display: grid;
    gap: map.get(vars.$spacing, 400);
    margin-block-end: map.get(vars.$spacing, 675);

    .grid_item {
        min-height: 14.688em;
        inline-size: 19.625em;
        border-radius: .5em;
        box-shadow: 0 0.938em 30px -11px vars.$light_cyan;
        overflow: hidden;
        transition: all .3s ease;

        @media (prefers-reduced-motion: reduce) {
            .grid_item {
                transition: none;
            }
        }

        &:hover {
            transform: scale(1.1);
        }

        &__content {
            padding: map.get(vars.$spacing, 400) map.get(vars.$spacing, 400) 2.938em map.get(vars.$spacing, 400);
        }

        &__title {
            margin-block-end: map.get(vars.$spacing, 75);
        }

        &__text {
            inline-size: 100%;
            max-inline-size: 15.625em;
            margin-block-end: map.get(vars.$spacing, 400);
        }

        &__img {
            display: block;
            margin-inline-start: auto;
        }

        &:nth-of-type(1) {
            .color_line--highlight {
                @extend .color_line;
                background-color: vars.$cyan;
            }
        }

        &:nth-of-type(2) {
            grid-row-start: 2;

            .color_line--highlight {
                @extend .color_line;
                background-color: vars.$red;
            }
        }

        &:nth-of-type(3) {
            grid-row-start: 3;

            .color_line--highlight {
                @extend .color_line;
                background-color: vars.$orange;
            }
        }

        &:nth-of-type(4) {
            grid-row-start: 4;

            .color_line--highlight {
                @extend .color_line;
                background-color: vars.$blue;
            }
        }
    }
}

@media screen and (min-width: 48em) {

    .grid {
        margin-block-end: map.get(vars.$spacing, 1000);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .grid_item {

            &:nth-of-type(1) {
                grid-area: 2 / 1 / 3 / 2;
            }

            &:nth-of-type(2) {
                grid-area: 1 / 1 / 2 / -1;
                justify-self: center;
            }

            &:nth-of-type(3) {
                grid-area: 2 / 2 / 3 / 3;

            }

            &:nth-of-type(4) {
                grid-area: 3 / 1 / -1 / -1;
                justify-self: center;
            }
        }
    }
}

@media screen and (min-width: 87.5em) {

    .grid {
        margin-block-end: map.get(vars.$spacing, 2000);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .grid_item {
            min-block-size: 15.625em;
            inline-size: 21.875em;

            &:nth-of-type(1) {
                grid-area: 1 / 1 / -1 / -1;
                align-self: center;
            }

            &:nth-of-type(2) {
                grid-area: 1 / 1 / 2 / -1;

            }

            &:nth-of-type(3) {
                grid-area: 2 / 2 / 3 / 3;
            }

            &:nth-of-type(4) {
                grid-area: 1 / 3 / -1 / -1;
                align-self: center;
            }
        }
    }
}