@use "../abstract/variables" as v;
@use "sass:map";

%button {
    inline-size: 100%;
    outline: 1px solid transparent;
    border-radius: v.$base_radius_unit;
    padding: map.get(v.$spacing, 200) map.get(v.$spacing, 300);
}

.button--submit {
    @extend %button;
    background-color: map.get(v.$blue, 800);
    color: v.$white;
    cursor: pointer;

    &:hover {
        background: map.get(v.$gradient, linear_gradient);
    }
}