@use "../abstract/color" as c;
@use "../abstract/spacing" as s;
@use "sass:map";

%button {
    inline-size: 100%;
    outline: 1px solid transparent;
    border-radius: .5rem;
    padding: map.get(s.$spacing, 200) map.get(s.$spacing, 300);
}

.form {
    display: flex;
    flex-direction: column;
    gap: map.get(s.$spacing, 100);

    & > *:focus-visible {
        outline: 2px solid black;
    }

    & > *:hover {
        outline-color: map.get(c.$red, 200);
    }

    &__email {
        @extend %button;
        outline-color: c.$grey;
        margin-block-end: map.get(s.$spacing, 200);

        @media screen and (min-width: 48rem) {
            margin-block-end: map.get(s.$spacing, 100);
        }

        @media screen and (min-width: 90rem) {
            margin-block-end: map.get(s.$spacing, 200);
        }
    }

    #error {
        color: map.get(c.$red, 200);
    }

    .email_label {
        display: flex;
        justify-content: space-between;
    }

    &__submit {
        @extend %button;
        background-color: map.get(c.$blue, 800);
        color: c.$white;
        cursor: pointer;
    }
}