@use "../abstract/variables" as v;
@use "../component/button";
@use "sass:map";

.form {
    display: flex;
    flex-direction: column;
    gap: map.get(v.$spacing, 100);

    & > *:focus-visible {
        outline: 2px solid black;
    }

    &__email {
        @extend %button;
        outline-color: v.$grey;
        margin-block-end: map.get(v.$spacing, 200);

        @media screen and (min-width: map.get(v.$breakpoint, tablet)) {
            margin-block-end: map.get(v.$spacing, 100);
        }

        @media screen and (min-width: map.get(v.$breakpoint, desktop)) {
            margin-block-end: map.get(v.$spacing, 200);
        }
    }

    .error {
        color: map.get(v.$red, 200);
    }

    .email_label {
        display: flex;
        justify-content: space-between;
    }
}