@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;
@use "../base/base";
@use "sass:map";

.newsletter {
    @extend %page;

    @media screen and (min-width: map.get(v.$breakpoint, tablet)) {
        max-inline-size: 38rem;
        padding: calc(map.get(v.$spacing, 500) + 2px) map.get(v.$spacing, 500); //add 2px for pixel perfect matching with design
        border-radius: map.get(v.$border_radius, 36);
    }

    @media screen and (min-width: map.get(v.$breakpoint, desktop)) {
        flex-direction: row;
        max-inline-size: 56.5rem;
        padding: map.get(v.$spacing, 300) map.get(v.$spacing, 400);
    }

    &__img {
        line-height: 0;
        img {
            object-fit: cover;
        }
        @media screen and (min-width: map.get(v.$breakpoint, desktop)) {
            order: 2;
            max-inline-size: 25rem;
        }
    }

    &__content {
        @media screen and (min-width: map.get(v.$breakpoint, desktop)) {
            order: 1;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: map.get(v.$spacing, 300);
        inline-size: 100%;
        margin-block-end: map.get(v.$spacing, 500);
        @media screen and (min-width: map.get(v.$breakpoint, tablet)) {
            margin-block-end: map.get(v.$spacing, 300);
        }

        @media screen and (min-width: map.get(v.$breakpoint, desktop)) {
            gap: map.get(v.$spacing, 400);
            margin-block-end: map.get(v.$spacing, 400);
        }
    }
}

.benefit_list {
    display: flex;
    flex-direction: column;
    gap: map.get(v.$spacing, 100);

    &__item {
        display: flex;
        gap: map.get(v.$spacing, 200);
        align-items: start;
    }
}