@use "../abstract/color" as c;
@use "../abstract/spacing" as s;
@use "../abstract/mixins" as m;
@use "sass:map";

.newsletter {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    max-inline-size: 23.438rem;
    overflow: hidden;
    background-color: c.$white;

    @media screen and (min-width: 48rem) {
        max-inline-size: 38rem;
        padding: 2.679rem map.get(s.$spacing, 500);
        border-radius: 2.25rem;
    }

    &__img {
        line-height: 0;
        
        img {
            object-fit: cover;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: map.get(s.$spacing, 300);
        inline-size: 100%;
        margin-block-end: map.get(s.$spacing, 500);
        @media screen and (min-width: 48rem) {
            margin-block-end: map.get(s.$spacing, 300);
        }
    }
}

.benefit_list {
    display: flex;
    flex-direction: column;
    gap: map.get(s.$spacing, 100);

    &__item {
        display: flex;
        gap: map.get(s.$spacing, 200);
        align-items: start;
    }
}