@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;
@use "../base/base";
@use "sass:map";

.success_page {
    @extend %page;

    @media screen and (min-width: map.get(v.$breakpoint, tablet)) {
      max-inline-size: 31.5rem;
      border-radius: map.get(v.$border_radius, 36);
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: map.get(v.$spacing, 400);
        margin-block-end: 16.438rem;

        @media screen and (min-width: map.get(v.$breakpoint, tablet)) {
            margin-block-end: map.get(v.$spacing, 400);
        }
    }
}