/* COLOR */
/* TYPOGRAPHY */
/* UTILS */
.text_preset_1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 100%;
}

.text_preset_2 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 110%;
}

.text_preset_3 {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 160%;
  color: #6C7289;
}

.text_preset_4 {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: 0.313rem;
  color: #6C7289;
}

.text_preset_5 {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 120%;
}

.page_wrapper {
  background-color: #F2EAE2;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 auto;
}
.card__img {
  width: 100%;
  height: 342px;
  max-width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__text {
  padding: 2rem;
}
.card__text > :not(:last-child) {
  margin-bottom: 1.5rem;
}
.card__text .card__product_category {
  text-transform: uppercase;
}
.card__text .card__product_name {
  color: #1C232B;
}
.card__price {
  display: flex;
  align-items: center;
}
.card__price .card__current_price {
  color: #3D8168;
  margin-right: 1rem;
}
.card__price .card__original_price {
  color: #6C7289;
  text-decoration: line-through;
}

.btn {
  width: 100%;
  background-color: #3D8168;
  border-radius: 0.5rem;
  color: #FFFFFF;
}
.btn__shopping {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.btn__svg {
  margin-right: 0.5rem;
}
.btn:hover {
  background-color: #1A4032;
}
.btn:active {
  transform: translate(3px, 3px);
}