/* COLOR */
/* TYPOGRAPHY */
/* UTILS */
.text_preset_1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 100%;
}

.text_preset_2 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 110%;
}

.text_preset_3 {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 160%;
}

.text_preset_4 {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: 0.313rem;
}

.text_preset_5 {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 120%;
}