body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

.container {
    inline-size: 100%;
    max-inline-size: 19.063em;
    margin: 0 auto;
    text-align: center;
}