@use "../abstract/mixins" as m;
@use "../abstract/spacing";
@use "../abstract/utils";
@use "sass:map";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

.container {
  position: relative;
  inline-size: 100%;
  max-inline-size: 19.438rem;
  margin: 0 auto;
  text-align: center;
}

.section_img {
  display: flex;
  justify-content: center;
  @include m.spacing(margin-block-end, 600);

  &--large-bottom {
    @include m.spacing(margin-block-end, 800);
  }

  &--neg_bottom {
    position: relative;
    z-index: 2;
    @include m.spacing(margin-block-end, n315);
  }
}