@use "../abstract/color" as c;
@use "../abstract/mixins" as m;
@use "sass:map";

.card {
    inline-size: 100%;
    border-radius: .625rem;
    overflow: hidden;
    background-color: c.$white;
    box-shadow: 0 40px 40px -10px rgba(201, 214, 225, .534);
    display: flex;

    max-inline-size: 20.438rem;
    flex-direction: column;
    @media screen and (min-width: 48rem) {
        max-inline-size: 38rem;
        flex-direction: row;
    }

    &__img {
        inline-size: 100%;
        height: 12.5rem;
        object-fit: cover;
        @media screen and (min-width: 48rem) {
            max-inline-size: 14.313rem;
            height: auto;
        }
    }

    &__heading {
        @include m.spacing(margin-block-end, 300);
    }
}