@use "../abstract/color" as c;
@use "../abstract/mixins" as m;
@use "sass:map";

.card {
    inline-size: 100%;
    border-radius: .625rem;
    overflow: hidden;
    background-color: c.$white;
    box-shadow: 0 40px 40px -10px rgba(201, 214, 225, .534);
    display: flex;

    max-inline-size: 20.438rem;
    flex-direction: column;
    @media screen and (min-width: 48rem) {
        max-inline-size: 38rem;
        flex-direction: row;
        /*necessary to let toast overflow card at tablet/desktop size*/
        overflow: visible;
    }

    @media screen and (min-width: 90rem) {
        max-inline-size: 45.625rem;
    }

    &__img {
        inline-size: 100%;
        height: 12.5rem;
        object-fit: cover;
        @media screen and (min-width: 48rem) {
            max-inline-size: 14.313rem;
            height: auto;
            /*necessary to round img borders because overflow: visible at tablet/desktop size*/
            @include m.spacing(border-start-start-radius, 110);
            @include m.spacing(border-end-start-radius, 110);
        }

        @media screen and (min-width: 90rem) {
            inline-size: 100%;
            max-inline-size: 17.813rem;
        }
    }

    &__heading {
        @include m.spacing(margin-block-end, 300);
    }
}