@use "../abstract/mixins" as m;

.profile {
    display: flex;
    // display: none;
    @include m.spacing(gap, 800);

    &__personal_detail {
        display: flex;
    }

    &__avatar_img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        transition: transform .3s ease;
        @include m.spacing(margin-inline-end, 200);

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            width: 40px;
            height: 40px;
            background: linear-gradient(0deg,
                    transparent,
                    transparent 30%,
                    rgba(236, 242, 248, .3));
            transform: rotate(-45deg);
            transition: all .5s ease;
            opacity: 0;
        }

        &:hover::after {
            opacity: 1;
            transform: rotate(-45deg) translateY(100%);
        }
    }

    &__name_and_date {
        display: flex;
        flex-direction: column;
    }
}

.profile--hidden {
    display:none;
}