@use "../abstract/mixins" as m;

.profile {

    &__personal_detail {
        display: flex;
        @include m.spacing(gap, 200);
    }

    &__avatar_img {
        inline-size: 2.5em;
        block-size: 2.5em;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        transition: transform .3s ease;

        @media (prefers-reduced-motion: no-preference) {
            transition: transform .3s ease;
        }

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            inline-size: 2.5em;
            block-size: 2.5em;
            background: linear-gradient(0deg,
                    transparent,
                    transparent 30%,
                    rgba(236, 242, 248, .3));
            transform: rotate(-45deg);
            transition: all .5s ease;

            @media (prefers-reduced-motion: no-preference) {
                transition: all .5s ease;
            }

            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }
            opacity: 0;
        }

        &:hover::after {
            opacity: 1;
            transform: rotate(-45deg) translateY(100%);
        }
    }

    .icon_share {
        @media screen and (min-width: 48rem) {
            margin: .25rem .313rem .25rem 0;
        }
    }

    &__name_and_date {
        display: flex;
        flex-direction: column;
    }
}

.profile--is_hidden {
    opacity: 0;
}