@use "../abstract/mixins" as m;

.profile {

    &___avatar_img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        @include m.spacing(margin-inline-end, 200);
    }

    &__name_and_date {
        display: flex;
        flex-direction: column;
        @include m.spacing(margin-inline-end, 200);
    }
}