@use "../abstract/color" as c;
@use "../abstract/spacing" as s;
@use "../abstract/mixins" as m;
@use "sass:map";

.toast {
    z-index: -1;
    position: absolute;
    @include m.spacing(left, 380);
    
    display: flex;
    align-items: center;
    @include m.spacing(gap, 300);

    &__text_social {
        text-transform: uppercase;
        color: map.get(c.$grey, 400);
        cursor: pointer;
    }

    &__cta_social {
        display: flex;
        align-items: center;
        @include m.spacing(gap, 200);
    }

    &__social_btn {
        path {
            transition: fill .3s ease;
        }

        @media (pointer: coarse) {
            &:active {
                path {
                    fill: map.get(c.$grey, 400);
                }
            }
        }

        @media (pointer: fine) {
            &:hover {
                path {
                    fill: map.get(c.$grey, 400);
                }
            }
        }
    }
}

#icon_share {
    cursor: pointer;
    @media screen and (min-width: 48rem) {
        @include m.spacing(margin-block-start, 50);
        @include m.spacing(margin-block-end, 51);
        @include m.spacing(margin-inline-end, 50);
    }
}

.toast--is_visible {
    z-index: 1;
}