@use "../abstract/color" as c;
@use "../abstract/spacing" as s;
@use "../abstract/mixins" as m;
@use "sass:map";

.toast {
    z-index: -1;
    position: absolute;
    @include m.spacing(left, 380);

    display: flex;
    align-items: center;
    @include m.spacing(gap, 300);

    @media screen and (min-width: 48rem) {
        background-color: map.get(c.$grey, 900);
        padding: 1.125rem 1.938rem 1.063rem 2rem;
        border-radius: .625em;
        inline-size: 100%;
        max-inline-size: 15.5rem;
        inset-inline-start: 52%;
        inset-block-end: 133%;
        align-items: center;
        box-shadow: 0 .625rem .625rem 0 map.get(c.$grey, 600);
    }

    @media screen and (min-width: 90rem) {
        inset-inline-start: 62%;
        inset-block-end: 140%;
    }

    &__list {
        display: flex;
        align-items: center;
        @include m.spacing(gap, 200);
    }

    &__text_social {
        text-transform: uppercase;
        color: map.get(c.$grey, 400);
        cursor: pointer;
    }

    &__cta_social {
        cursor: pointer;

        svg {
            overflow: visible;
        }

        path {
            @include m.transition(all .3s ease);
        }

        @media (pointer: coarse) {
            &:active path {
                fill: map.get(c.$grey, 400);
            }
        }

        @media (pointer: fine) {
            &:hover path {
                fill: map.get(c.$grey, 400);
            }
        }
    }

    &__triangle {
        opacity: 0;
        position: absolute;
        inset-block-start: 110%;
        inset-inline-start: 50%;
        transform: translate(-50%, -50%);

        inline-size: 0;
        block-size: 0;
        border-top: .75em solid map.get(c.$grey, 900);
        border-right: .75em solid transparent;
        border-left: .75em solid transparent;

        @media screen and (min-width: 48rem) {
            opacity: 1;
        }
    }
}

#icon_share {
    cursor: pointer;

    @media screen and (min-width: 48rem) {
        @include m.spacing(margin-block-start, 50);
        @include m.spacing(margin-block-end, 51);
        @include m.spacing(margin-inline-end, 50);
    }

    @media screen and (min-width: 90rem) {
        @include m.spacing(margin-inline-end, 26);
        @include m.spacing(margin-block-end, 50);
    }
}