@use "../abstract/color" as c;
@use "../abstract/spacing" as s;
@use "../abstract/mixins" as m;
@use "sass:map";

.toast {
    z-index: -1;
    position: absolute;
    @include m.spacing(left, 380);
    
    display: flex;
    align-items: center;
    @include m.spacing(gap, 300);

    @media screen and (min-width: 48rem) {
        background-color: map.get(c.$grey, 900);
        padding: 18px 31px 17px 32px;
        border-radius: 10px;
        width: 100%;
        max-inline-size: 15.5rem;
        left: 52%;
        bottom: 133%;
        align-items: center;
        box-shadow: 0 .625rem .625rem 0 rgba(201, 213, 225, 0.5);
;
    }

    @media screen and (min-width: 90rem) {
        left: 60.5%;
        bottom: 140%;
    }

    &__text_social {
        text-transform: uppercase;
        color: map.get(c.$grey, 400);
        cursor: pointer;
    }

    &__cta_social {
        display: flex;
        align-items: center;
        @include m.spacing(gap, 200);
    }

    &__social_btn {
        line-height: 0;

        path {
            transition: fill .3s ease;
        }

        @media (pointer: coarse) {
            &:active {
                path {
                    fill: map.get(c.$grey, 400);
                }
            }
        }

        @media (pointer: fine) {
            &:hover {
                path {
                    fill: map.get(c.$grey, 400);
                }
            }
        }
    }

    &__triangle {
        opacity: 0;
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 0px;
        height: 0px;
        border-top: 12px solid map.get(c.$grey, 900);
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;

        @media screen and (min-width: 48rem) {
            opacity: 1;
        }
    }
}

#icon_share {
    cursor: pointer;
    @media screen and (min-width: 48rem) {
        @include m.spacing(margin-block-start, 50);
        @include m.spacing(margin-block-end, 51);
        @include m.spacing(margin-inline-end, 50);
    }

    @media screen and (min-width: 90rem) {
        @include m.spacing(margin-inline-end, 26);
        @include m.spacing(margin-block-end, 50);
    }
}

.toast--is_visible {
    z-index: 1;
}