$blue: (
    700: #242742,
    800: #36384D
);
$gradient: (
    background_default: #FF6A3A,
    linear_gradient: linear-gradient(90deg, #FF6A3A, #FF527B)
);
$grey: #949494;
$red: (
    100: #FFE7E6,
    200: #FF6155
);
$white: #FFFFFF;