@use "./variables" as v;
@use "./mixins" as m;
@use "sass:map";

.text_preset_1 { 
    @include m.text_preset(v.$font_family, map.get(v.$fs, 40), map.get(v.$fw, "bold"), 1, 0, map.get(v.$blue, 800));
    @media screen and (min-width: map.get(v.$breakpoint, tablet)) { font-size: map.get(v.$fs, 56); }
}
.text_preset_2 { @include m.text_preset(v.$font_family, map.get(v.$fs, 16), map.get(v.$fw, "regular"), 1.5, 0, map.get(v.$blue, 800)); }
.text_preset_3 { @include m.text_preset(v.$font_family, map.get(v.$fs, 12), map.get(v.$fw, "bold"), 1.5, 0, map.get(v.$blue, 800)); }

.text_preset_2--bold {
    @extend .text_preset_2;
    font-weight: map.get(v.$fw, "bold");
}

.is_hidden {
    display: none !important;
}

.is_valid {
    background: map.get(v.$gradient, linear_gradient) !important;
}

.is_invalid {
    background-color: map.get(v.$red, 100) !important;
    outline-color: map.get(v.$red, 200) !important;
    color: map.get(v.$red, 200) !important;
}