.text_preset_3 {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1875;
  letter-spacing: 0;
  color: hsl(0, 100%, 100%);
}

.text_preset_4 {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.16;
  letter-spacing: 0;
  color: hsl(0, 100%, 100%);
}

.text_preset_5--medium {
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0;
  color: hsl(0, 100%, 100%);
}

.text_preset_5--regular {
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0;
  color: hsl(235, 45%, 61%);
}

.text_preset_6 {
  font-family: "Rubik", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  color: hsl(236, 100%, 87%);
}

body {
  background-color: hsl(0, 0%, 12%);
}

.page_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.report_summary {
  background-color: hsl(235, 46%, 20%);
  border-radius: inherit;
}
.report_summary__avatar_info {
  background-color: hsl(246, 80%, 60%);
  border-radius: inherit;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 2rem 2.313rem 2.25rem;
}
@media screen and (min-width: 48rem) {
  .report_summary__avatar_info {
    padding: 2.156rem 20.18rem 2.156rem 2rem;
  }
}
@media screen and (min-width: 90rem) {
  .report_summary__avatar_info {
    flex-direction: column;
    align-items: start;
    gap: 2.5rem;
    padding: 2rem 2.5rem 5.75rem 2rem;
  }
}
.report_summary__avatar_details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (min-width: 90rem) {
  .report_summary .avatar_name {
    font-size: 2.5rem;
    line-height: 1.17;
  }
}
.report_summary__avatar_img {
  inline-size: 4rem;
  block-size: 4rem;
  border-radius: 50%;
  border: 0.188rem solid hsl(0, 100%, 100%);
  box-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.25);
}
@media screen and (min-width: 90rem) {
  .report_summary__avatar_img {
    inline-size: 4.875rem;
    block-size: 4.875rem;
    gap: 2.5rem;
  }
}
.report_summary__time_range {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-block-start: 1.5rem;
  padding-block-end: 1.563rem;
}
@media screen and (min-width: 48rem) {
  .report_summary__time_range {
    gap: 4rem;
  }
}
@media screen and (min-width: 90rem) {
  .report_summary__time_range {
    flex-direction: column;
    gap: 1.313rem;
    padding-block-start: 1.75rem;
    padding-block-end: 1.75rem;
    padding-inline-start: 2rem;
  }
}
.report_summary__time_range > *:hover {
  cursor: pointer;
  color: hsl(0, 100%, 100%);
}
@media (prefers-reduced-motion: no-preference) {
  .report_summary__time_range > *:hover {
    transition: color 0.3s ease;
  }
}
@media (prefers-reduced-motion: reduce) {
  .report_summary__time_range > *:hover {
    transition: none;
  }
}

.item {
  border-radius: inherit;
  padding-block-start: 2.375rem;
}
@media screen and (min-width: 48rem) {
  .item {
    padding-block-start: 2.063rem;
  }
}
@media screen and (min-width: 90rem) {
  .item {
    padding-block-start: 2.813rem;
  }
}
.item__container {
  background-color: hsl(235, 46%, 20%);
  border-radius: inherit;
  padding: 1.719rem 1.5rem;
  box-shadow: 0 0 0 0.1px hsl(235, 46%, 20%);
}
@media screen and (min-width: 48rem) {
  .item__container {
    padding: 1.594rem 1.344rem;
  }
}
@media screen and (min-width: 90rem) {
  .item__container {
    padding: 2rem 2.031rem;
  }
}
.item__header {
  margin-block-end: 0.469rem;
}
@media screen and (min-width: 48rem) {
  .item__header {
    margin-block-end: 1rem;
  }
}
@media screen and (min-width: 90rem) {
  .item__header {
    margin-block-end: 1.5rem;
  }
}
.item__header, .item__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .item__body {
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
  }
}
@media screen and (min-width: 48rem) {
  .item .current_hours {
    font-size: 3.5rem;
    line-height: 1.178;
  }
}

.work {
  background: hsl(15, 100%, 70%) url("../../assets/icon_work.svg") no-repeat 93.5% -14%;
}
@media screen and (min-width: 48rem) {
  .work {
    background-size: 58px 58px;
    background-position: 93.5% -4%;
  }
}
@media screen and (min-width: 90rem) {
  .work {
    background-size: 78px 78px;
  }
}

.play {
  background: hsl(195, 74%, 62%) url("../../assets/icon_play.svg") no-repeat 93.5% -14%;
}
@media screen and (min-width: 48rem) {
  .play {
    background-size: 58px 58px;
    background-position: 90% -2%;
  }
}
@media screen and (min-width: 90rem) {
  .play {
    background-size: 90px 90px;
    background-position: 90% -5%;
  }
}

.study {
  background: hsl(348, 100%, 68%) url("../../assets/icon_study.svg") no-repeat 93.5% -8%;
}
@media screen and (min-width: 48rem) {
  .study {
    background-size: 58px 58px;
    background-position: 90% -2%;
  }
}
@media screen and (min-width: 90rem) {
  .study {
    background-size: 78px 78px;
    background-position: 90% -2%;
  }
}

.exercise {
  background: hsl(145, 58%, 55%) url("../../assets/icon_exercise.svg") no-repeat 93.5% -1%;
}
@media screen and (min-width: 48rem) {
  .exercise {
    background-size: 58px 40px;
    background-position: 90% 0;
  }
}
@media screen and (min-width: 90rem) {
  .exercise {
    background-size: 80px 54px;
    background-position: 90% 0;
  }
}

.social {
  background: hsl(264, 64%, 52%) url("../../assets/icon_social.svg") no-repeat 93.5% -25%;
}
@media screen and (min-width: 48rem) {
  .social {
    background-size: 54px 73px;
    background-position: 95% -7%;
  }
}
@media screen and (min-width: 90rem) {
  .social {
    background-size: 74px 100px;
    background-position: 90% -10%;
  }
}

.self_care {
  background: hsl(43, 84%, 65%) url("../../assets/icon_self_care.svg") no-repeat 93.5% -12%;
}
@media screen and (min-width: 48rem) {
  .self_care {
    background-size: 54px 48px;
    background-position: 89% -5%;
  }
}
@media screen and (min-width: 90rem) {
  .self_care {
    background-size: 72px 66px;
    background-position: 90% -5%;
  }
}

.grid {
  display: grid;
  grid-template-columns: clamp(300px, 87.2vw, 450px);
  gap: 1.5rem;
  border-radius: 0.938rem;
}
@media screen and (min-width: 48rem) {
  .grid {
    grid-template-columns: repeat(3, minmax(clamp(180px, 24.2vw, 500px), 1fr));
  }
  .grid > :first-child {
    grid-column: span 3/span 3;
  }
}
@media screen and (min-width: 90rem) {
  .grid {
    grid-template-columns: repeat(4, clamp(200px, 17.72vw, 800px));
    gap: 2rem;
  }
  .grid > :first-child {
    grid-column: 1/2;
    grid-row: span 2/span 2;
  }
}