$spacing: (
    0: 0,
    25: .155rem,
    50: .25rem,    // 4px
    100: .5rem,    // 8px
    200: 1rem,     // 16px
    225: 1.125rem, // 18px
    300: 1.5rem,   // 24px
    380: 1.875rem, // 30px
    400: 2rem,     // 32px
    500: 2.5rem,   // 40px
    600: 3rem,     // 48px
    700: 3.5rem,   // 56px
    800: 4rem,     // 64px
    900: 4.5rem,   // 72px
    1000: 5rem,    // 80px
    1050: 5.438rem,   // 87px
    1300: 6.5rem,  // 104px
    1400: 7rem,    // 112px
    1450: 7.5rem,  // 120px
    1495: 7.969rem,   // 127.5px
    1550: 8.938rem,   // 143px
    2000: 10rem    // 160px
);