@use "../abstract/mixins" as m;
@use "sass:map";

.header {
    display: flex;
    justify-content: center;
    align-content: center;
    @include m.spacing(margin-block-end, 800);
}

.logo {
    @include m.spacing(margin-block-start, 600);
}