@use "../abstract/color" as c;
@use "../abstract/mixins" as m;
@use "sass:map";

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 9.219rem);
    @include m.spacing(gap, 200);
    @include m.spacing(margin-block-end, 800);

    &__item {
        inline-size: 9.219rem;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .625rem;
    }
}

.showcase {

    &__text {
        @include m.spacing(margin-block-end, 800);
    }

    &__intro {
        text-transform: uppercase;
        color: map.get(c.$cyan, 600);
        @include m.spacing(margin-block-end, 200);
    }

    &__slogan {
        @include m.spacing(margin-block-end, 400);
    }
}