@use "../abstract/mixins" as m;
@use "sass:map";

.hero {
    @include m.spacing(margin-block-end, 800);

    .text_breaker {
        display: block;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include m.spacing(gap, 300);
    }

    &__cta_group {
        max-inline-size: 12.063rem;

        button:first-child {
            @include m.spacing(margin-block-end, 200);
        }
    }
}