@use "../abstract/vars";
@use "sass:map";

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 9.219rem);
    gap: map.get(vars.$spacing, 200);
    margin-block-end: map.get(vars.$spacing, 800);

    &__item {
        inline-size: 147.5px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.showcase {

    &__text {
        margin-block-end: map.get(vars.$spacing, 400);
    }

    &__intro {
        text-transform: uppercase;
        color: map.get(vars.$cyan, 600);
        margin-block-end: map.get(vars.$spacing, 200);
    }

    &__slogan {
        color: map.get(vars.$slate, 900);
        margin-block-end: map.get(vars.$spacing, 400);
    }
}