@use "./variables" as v;
@use "./mixins" as m;
@use "sass:map";

.text_preset_3 {
    @include m.text_preset(v.$font_family, map.get(v.$fs, 32), map.get(v.$fw, "light"), 1.1875, 0, v.$white);
}

.text_preset_4 {
    @include m.text_preset(v.$font_family, map.get(v.$fs, 24), map.get(v.$fw, "light"), 1.16, 0, v.$white);
}

.text_preset_5--medium {
    @include m.text_preset(v.$font_family, map.get(v.$fs, 18), map.get(v.$fw, "medium"), 1.16, 0, v.$white);
}

.text_preset_5--regular {
    @include m.text_preset(v.$font_family, map.get(v.$fs, 18), map.get(v.$fw, "regular"), 1.16, 0, v.$purple--500);
}

.text_preset_6 {
    @include m.text_preset(v.$font_family, map.get(v.$fs, 15), map.get(v.$fw, "regular"), 1.2, 0, v.$navy--200);
}

