@use "./variables" as v;
@use "./mixins" as m;
@use "sass:map";

%text_preset_light { @include m.text_preset(v.$font_family, clamp(), map.get(v.$fw, "light"), v.$white) };
.text_preset_4 { @include m.text_preset(v.$font_family, map.get(v.$fs, 24), map.get(v.$fw, "light"), 1.16, v.$white) };
.text_preset_6 { @include m.text_preset(v.$font_family, map.get(v.$fs, 15), map.get(v.$fw, "regular"), 2.7, v.$navy--200) };