//COLORS
$black: hsl(0°, 0%, 0%);
$black--bg: hsl(0, 0%, 12%);
$blue: hsl(195°, 74%, 62%);
$green: hsl(145°, 58%, 55%);
$grey: hsl(0°, 0%, 85%);
$navy--200: hsl(236°, 100%, 87%);
$navy--800: hsl(235°, 41%, 34%);
$navy--900: hsl(235°, 46%, 20%);
$navy--950: hsl(226°, 43%, 10%);
$orange: hsl(15°, 100%, 70%);
$pink: hsl(348°, 100%, 68%);
$purple--500: hsl(235°, 45%, 61%);
$purple--600: hsl(246°, 80%, 60%);
$purple--700: hsl(264°, 64%, 52%);
$white: hsl(0°, 100%, 100%);
$yellow: hsl(43°, 84%, 65%);

//TYPOGRAPHY
$font_family: "Rubik", sans-serif;
$base_typography_unit: 1rem;

$fw: (
    "light": 300,
    "regular": 400,
    "medium": 500,
);

$fs: (
    15: $base_typography_unit - .062,
    16: $base_typography_unit,
    24: $base_typography_unit * 1.5,
    56: $base_typography_unit * 3.5,
);

//SPACING
$base_spacing_unit: .5rem; // 8px
$spacing: (
  0:    $base_spacing_unit * 0,       
  100:  $base_spacing_unit,           
  200:  $base_spacing_unit * 2,       // 16px
  300:  $base_spacing_unit * 3,       // 24px
  400:  $base_spacing_unit * 4,       // 32px
  500:  $base_spacing_unit * 5,       // 40px
);

//BORDER
$base_radius_unit: .188rem; // 3px
$border_radius: (
    15: $base_radius_unit * 5,
    circle: 50%,
);

//BREAKPOINTS   
$breakpoint: (
    tablet: 48rem,
    desktop: 90rem,
);