$cyan: (
    300: #8FE3F9,
    400: #71C0D4,
    600: #4D96A9
);

$slate: (
    300: #D1D1DF,
    600: #87879D,
    900: #28283D
);

$purple: (
    300: #D9B8FF,
    400: #B18BDD,
    600: #855FB1
);

$white: #FAFAFA;