$spacing: (
    n315: -1.75rem,
    25: .155rem,
    50: .25rem,  // 4px
    100: .5rem,  // 8px
    200: 1rem,    // 16px
    300: 1.5rem,  // 24px
    400: 2rem,    // 32px
    500: 2.5rem,  // 40px
    600: 3rem,    // 48px
    700: 3.5rem,  // 76px
    800: 4rem,    // 64px
    900: 4.5rem,  // 72px
    1000: 5rem,   // 80px
    1400: 7rem   // 113px
);