@use "sass:map";

/* COLOR */
$cyan: (
    300: #8FE3F9,
    600: #4D96A9
);

$slate: (
    300: #D1D1DF,
    600: #87879D,
    900: #28283D
);

$purple: (
    300: #D9B8FF,
    600: #855FB1
);

$white: #FAFAFA;

/* TYPOGRAPHY */
$font_family: "Red Hat Display", sans-serif;

$fw: (
    "medium": 500,
    "black": 900
);

$fs: (
    16: 1rem,
    18: 1.125rem,
    40: 2.5rem,
    64: 4rem,
);

$spacing: (
    50: 0.25em,  // 4px
    100: 0.5em,  // 8px
    200: 1em,    // 16px
    300: 1.5em,  // 24px
    400: 2em,    // 32px
    500: 2.5em,  // 40px
    700: 3.5em,  // 76px
    800: 4em,    // 64px
    900: 4.5em,  // 72px
    1000: 5em,   // 80px
    1400: 7em   // 113px
);

/* UTILS */
.text_preset_1 {
    font-family: $font_family;
    font-weight: map.get($fw, "black");
    font-size: map.get($fs, 64);
    line-height: 110%;
}

.text_preset_2 {
    font-family: $font_family;
    font-weight: map.get($fw, "black");
    font-size: map.get($fs, 40);
    line-height: 110%;
}

.text_preset_3 {
    font-family: $font_family;
    font-weight: map.get($fw, "black");
    font-size: map.get($fs, 16);
    line-height: 110%;
    letter-spacing: .25rem;
}

.text_preset_4 {
    font-family: $font_family;
    font-weight: map.get($fw, "medium");
    font-size: map.get($fs, 18);
    line-height: 110%;
}

.text_preset_5 {
    font-family: $font_family;
    font-weight: map.get($fw, "black");
    font-size: map.get($fs, 16);
    line-height: 150%;
}