@use "sass:map";

/* COLOR */
$black: #1C232B;
$grey: #6C7289;
$cream: #F2EAE2;
$white: #FFFFFF;
$green: (
    500: #3D8168,
    700: #1A4032
);

/* TYPOGRAPHY */
$font_family_1: "Fraunces", serif;
$font_family_2: "Montserrat", serif;

$fw: (
    "regular": 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700
);

$fs: (
    10: 0.625rem,
    12: 0.75rem,
    13: 0.8125rem,
    14: 0.875rem,
    16: 1rem,
    18: 1.125rem,
    20: 1.25rem,
    24: 1.5rem,
    32: 2rem,   //32px
    40: 2.5rem,
    48: 3rem,
    56: 3.5rem
);

$spacing: (
    0: 0,
    25: 0.125rem,    // 2px
    50: 0.25rem,    // 4px
    75: 0.375rem,    // 6px
    100: 0.5rem,    // 8px
    125: 0.625rem,    // 10px
    150: 0.75rem,    // 12px
    200: 1rem,    // 16px
    250: 1.25rem,
    300: 1.5rem, //24px
    400: 2rem,
    500: 2.5rem,
    600: 3rem,
    800: 4rem,
    1000: 5rem,
);

/* UTILS */
.text_preset_1 {
    font-family: $font_family_1;
    font-weight: map.get($fw, "bold");
    font-size: map.get($fs, 32);
    line-height: 100%;
}

.text_preset_2 {
    font-family: $font_family_2;
    font-weight: map.get($fw, "bold");
    font-size: map.get($fs, 14);
    line-height: 110%;
}

.text_preset_3 {
    font-family: $font_family_2;
    font-weight: map.get($fw, "medium");
    font-size: map.get($fs, 14);
    line-height: 160%;
    color: $grey;
}

.text_preset_4 {
    font-family: $font_family_2;
    font-weight: map.get($fw, "medium");
    font-size: map.get($fs, 12);
    line-height: 120%;
    letter-spacing: 0.313rem;
    color: $grey;
}

.text_preset_5 {
    font-family: $font_family_2;
    font-weight: map.get($fw, "medium");
    font-size: map.get($fs, 13);
    line-height: 120%;
}