@use "../abstract/mixins" as m;
@use "../abstract/variables" as v;

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20.438rem);
    @include m.spacing(gap, 300);

    border-radius: .938rem;

    &__report_summary {
        background-color: v.$purple--600;
        border-radius: .938rem;
    }

    &__avatar_info {
        display: flex;
        justify-content: center;
        align-content: center;
        @include m.spacing(gap, 300);
        padding: 32px 36px 37px 32px; //refactor these
    }

    &__avatar_name {
        display: flex;
        flex-direction: column;
        @include m.spacing(gap, 100);
    }

    &__avatar_img {
        inline-size: 4rem;
        block-size: 4rem;
        border-radius: map-get(v.$border_radius, circle);
        outline: 3px solid v.$white;
    }
}