@use "../abstract/mixins" as m;
@use "../abstract/variables" as v;

.grid {
    display: grid;
    grid-template-columns: clamp(300px, 87.2vw, 450px); //pme column that expands at a reasonable length
    @include m.spacing(gap, 300);
    border-radius: .938rem;

    @media screen and (min-width: map-get(v.$breakpoint, tablet)) {
        grid-template-columns: repeat(3, minmax(clamp(180px, 24.2vw, 500px), 1fr));

        &> :first-child {
            grid-column: span 3 / span 3;
        }
    }

    @media screen and (min-width: map-get(v.$breakpoint, desktop)) {
        grid-template-columns: repeat(4, clamp(200px, 17.72vw, 800px));
        @include m.spacing(gap, 400);

        &> :first-child {
            grid-column: 1 / 2;
            grid-row: span 2 / span 2;
        }
    }
}