@use "../abstract/mixins" as m;

.grid {
    display: grid;
    justify-self: center;
    justify-content: center;
    inline-size: 80%;
    grid-template-columns: repeat(auto-fit, minmax(clamp(300px, 87.2vw, 450px), 1fr));
    @include m.spacing(gap, 300);
    border-radius: .938rem;
}