@use "../abstract/spacing" as s;
@use "sass:map";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
    max-inline-size: 20.438rem;
    margin: map.get(s.$spacing, 500) auto 2.75rem;
}