@use "../abstract/mixins" as m;
@use "../abstract/variables" as v;

body {
    background-color: v.$black--bg;
}

.page_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 143.5vh;

    @media screen and (min-width: 48rem) {
        height: 100vh;
    }
}

.report_summary {
    background-color: v.$navy--900;
    border-radius: inherit;

    &__avatar_info {
        background-color: v.$purple--600;
        border-radius: inherit;
        display: flex;
        align-items: center;
        @include m.spacing(gap, 300);
        padding: map-get(v.$spacing, 400) map-get(v.$spacing, 400) 2.313rem 2.25rem;

        @media screen and (min-width: map-get(v.$breakpoint, tablet)) {
            padding: 2.156rem 20.18rem 2.156rem map-get(v.$spacing, 400); //magic number to follow design
        }
    }

    &__avatar_name {
        display: flex;
        flex-direction: column;
        @include m.spacing(gap, 100);
    }

    &__avatar_img {
        inline-size: 4rem;
        block-size: 4rem;
        border-radius: map-get(v.$border_radius, circle);
        border: .188rem solid v.$white;
    }

    &__time_range {
        display: flex;
        justify-content: center;
        @include m.spacing(gap, 600);
        @include m.spacing(padding-block-start, 300);
        padding-block-end: 1.563rem; //magic number to follow design

        @media screen and (min-width: map-get(v.$breakpoint, tablet)) {
            gap: 4rem;
        }

        &>*:hover {
            cursor: pointer;
            @include m.transition(color .3s ease);
            color: v.$white;
        }
    }
}

.item {
    border-radius: inherit;
    padding-block-start: 2.375rem; //magic number to follow design

    @media screen and (min-width: map-get(v.$breakpoint, tablet)) {
        padding-block-start: 2.063rem; //magic number to follow design
    }

    &__container {
        background-color: v.$navy--900;
        border-radius: inherit;
        padding: 1.719rem map-get(v.$spacing, 300);

        @media screen and (min-width: map-get(v.$breakpoint, tablet)) {
            padding: 1.594rem 1.344rem;
        }
    }

    &__header {
        margin-block-end: .469rem; //magic number to follow design

        @media screen and (min-width: map-get(v.$breakpoint, tablet)) {
            @include m.spacing(margin-block-end, 200);
            // background-size: 58px 58px;
        }
    }

    &__header,
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__body {
        @media screen and (min-width: map-get(v.$breakpoint, tablet)) {
            flex-direction: column;
            @include m.spacing(gap, 100);
            align-items: start;
        }
    }
}

.work {
    background: v.$orange url("../../assets/icon_work.svg") no-repeat 93.5% -14%;

    @media screen and (min-width: map-get(v.$breakpoint, tablet)) {
        background-size: 58px 58px; //magic number to follow design
        background-position: 93.5% -4%;
    }
}

.play {
    background: v.$blue url("../../assets/icon_play.svg") no-repeat 93.5% -14%;

    @media screen and (min-width: map-get(v.$breakpoint, tablet)) {
        background-size: 58px 58px; //magic number to follow design
        background-position: 90% -2%;
    }
}

.study {
    background: v.$pink url("../../assets/icon_study.svg") no-repeat 93.5% -8%;

    @media screen and (min-width: map-get(v.$breakpoint, tablet)) {
        background-size: 58px 58px; //magic number to follow design
        background-position: 90% -2%;
    }
}

.exercise {
    background: v.$green url("../../assets/icon_exercise.svg") no-repeat 93.5% -1%;

    @media screen and (min-width: map-get(v.$breakpoint, tablet)) {
        background-size: 58px 40px; //magic number to follow design
        background-position: 90% 0;
    }
}

.social {
    background: v.$purple--700 url("../../assets/icon_social.svg") no-repeat 93.5% -25%;

    @media screen and (min-width: map-get(v.$breakpoint, tablet)) {
        background-size: 54px 73px; //magic number to follow design
        background-position: 95% -7%;
    }
}

.self_care {
    background: v.$yellow url("../../assets/icon_self_care.svg") no-repeat 93.5% -12%;

    @media screen and (min-width: map-get(v.$breakpoint, tablet)) {
        background-size: 54px 48px; //magic number to follow design
        background-position: 89% -5%;
    }
}