@use "sass:map";
@use "../abstract/vars";

.container {
    inline-size: 100%;
    max-inline-size: 19.063em;
    margin: map.get(vars.$spacing, 825) map.get(vars.$spacing, 425);
}

@media screen and (min-width: 48em) {
    .container {
        max-inline-size: 40.438em;
        margin: map.get(vars.$spacing, 1015) map.get(vars.$spacing, 675) map.get(vars.$spacing, 1315);
    }
}

@media screen and (min-width: 90em) {
    .container {
        max-inline-size: 69.625em;
        margin: 9.313em auto;
    }
}